@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        @apply bg-bgColor dark:bg-bgColorDark;
    }

    h1, h2, h3, h4, h5, p, span {
        @apply text-textColor dark:text-textColorDark;
    }

    .theme-bg {
        @apply bg-bgColor dark:bg-bgColorDark;
    }

    .theme-text {
        @apply text-textColor dark:text-textColorDark;
    }

    .theme-icon {
        @apply text-bgColorDark dark:text-bgColor;
    }

    .theme-border {
        @apply border border-borderColor dark:border-borderColorDark;
    }

    .simple-hover {
        @apply opacity-0 group-hover:opacity-100 transition-opacity duration-300;
    }

    .input {
        @apply block mt-1 w-full px-3 py-2 rounded-lg text-sm placeholder-slate-400 placeholder-opacity-60 bg-transparent focus:outline-none focus:border-sky-500 contrast-less:border-slate-300 text-slate-300;
    }

    .btn-hover {
        @apply hover:opacity-40
    }

}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari, and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge, and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
